{% extends 'global/base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    Register
{% endblock title %}



{% block content %}

    <!-- register form start-->

    <div class="container">

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message | safe }}</li>
                {% endfor %}
            </ul>
        {% endif %}




        <h2>{% trans 'Registration' %}</h2>
        <div class="col-md-12 offset">
            <form class="form-horizontal" method="post" id="personForm"
                  data-cities-url="{% url 'ajax_load_cities' %}"
                  data-districts-url="{% url 'ajax_load_districts' %}"
                  novalidate>
                {% csrf_token %}

                <div class="row mt-3">
                    <div class="form-group col-sm-4">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.surname|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.birthdate|as_crispy_field }}
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.passport|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.phone|as_crispy_field }}
                    </div>

                </div>
                <hr>


                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.password|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.confirm_password|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.language|as_crispy_field }}
                    </div>
                </div>

                <hr>
                <div class="row">

                    <div class="form-group col-sm-4">
                        {{ form.gender|as_crispy_field }}
                    </div>


                    <div class="form-group col-sm-4">
                        {{ form.height|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.blood_group|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.country|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        <div id="city_country">
                            {{ form.city|as_crispy_field }}
                        </div>

                        <div id="city2_country">
                            {{ form.city2|as_crispy_field }}
                        </div>
                    </div>


                    <div class="form-group col-sm-4">
                        {{ form.physical_activity|as_crispy_field }}
                    </div>
                </div>
                <div class="row" id="turkey_based">
                    <div class="form-group col-sm-4">
                        {{ form.district|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.town|as_crispy_field }}
                    </div>

                </div>


                <hr>
                <div class="alert alert-info" role="alert">
                    <h4> {% trans ' Questions relating to the assessment of cardiovascular disease risk' %}</h4>
                </div>

                <div class="row">

                    <div class="form-group col-sm-4">
                        {{ form.smoking|as_crispy_field }}
                    </div>


                    <div class="form-group col-sm-4">
                        {{ form.diabets|as_crispy_field }}
                    </div>


                    <div class="form-group col-sm-4">
                        {{ form.ethnicity|as_crispy_field }}
                    </div>
                </div>

                <!-- YES NO -->
                <div class="row survey container">
                    <div class="col-md-12 col-sm-12 mb-3">
                        <hr class="survey-separator">
                        <div class="row offset-md-2">
                            <div class="col-md col-sm-12">{{ form.angina_or_heart_attack|as_crispy_field }}</div>
                            <div class="col-md col-sm-12">{{ form.kidney_disease|as_crispy_field }}</div>
                        </div>
                    </div>


                    <div class="col-md-12 col-sm-12 mb-3">
                        <hr class="survey-separator">
                        <div class="row offset-md-2">
                            <div class="col-md col-sm-12">{{ form.pressure_treatment|as_crispy_field }}</div>
                            <div class="col-md col-sm-12">{{ form.atrial_fibrillation|as_crispy_field }}</div>
                        </div>
                    </div>


                    <div class="col-md-12 col-sm-12 mb-3">
                        <hr class="survey-separator">
                        <div class="row offset-md-2">
                            <div class="col-md col-sm-12">{{ form.rheumatoid_arthritis|as_crispy_field }}</div>
                            <div class="col-md col-sm-12"
                                 id="female-only-survey">{{ form.menopause|as_crispy_field }}</div>
                        </div>
                        <hr class="survey-separator">
                    </div>

                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <small>*{% trans 'Required fields' %}</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">{% trans 'Register' %}</button>
            </form>
            <br>

        </div>
    </div>
    <!-- register end-->




{% endblock content %}