{% extends 'global/base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block script %}
    <script src="{% static 'js/registration.js' %}"></script>
    <script src="{% static 'js/survey.js' %}"></script>
{% endblock script %}

{% block title %}
    Register
{% endblock title %}



{% block content %}

    <!-- register form start-->

    <div class="container">

<!--        {% if messages %}-->
<!--            <ul>-->
<!--                {% for message in messages %}-->
<!--                    <li>{{ message | safe }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        {% endif %}-->


        <div class="col-md-12 offset">
            {% if form.non_field_errors %}
                <div class="non-field-errors">
                    {% for err in form.non_field_errors %}
                        <p class="alert alert-danger text-center">{{ err }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <form class="form-horizontal" method="post" id="personForm"
                  data-cities-url="{% url 'ajax_load_cities' %}"
                  data-districts-url="{% url 'ajax_load_districts' %}"
                  data-towns-url="{% url 'ajax_load_towns' %}"
                  novalidate>
                  <h2>{% trans 'Registration' %}</h2>

                {% csrf_token %}

                <div class="row mt-3">
                    <div class="form-group col-sm-4">
                        {{ form.name|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.surname|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.birthdate|as_crispy_field }}
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.passport|as_crispy_field }}
                        <p style="font-size: medium; color: #474747">{% trans '(Citizen ID or E-mail or Mobile number)' %}</p>
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.phone|as_crispy_field }}
                    </div>

                </div>
                <hr>


                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.password|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.confirm_password|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.language|as_crispy_field }}
                    </div>
                </div>

                <hr>
                <div class="row">

                    <div class="form-group col-sm-4">
                        {{ form.gender|as_crispy_field }}
                    </div>

                    <div class="form-group col-sm-4">
                        {{ form.height|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.blood_group|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.physical_activity|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.country|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        <div id="city_country">
                            {{ form.city|as_crispy_field }}
                        </div>

                        <div id="city2_country">
                            {{ form.city2|as_crispy_field }}
                        </div>
                    </div>
                </div>
                <div class="row" id="turkey_based">
                    <div class="form-group col-sm-4">
                        {{ form.district|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.town|as_crispy_field }}
                    </div>

                </div>


                <hr>
                <div class="alert alert-info submitButton" role="alert">
                    <h4 class="mt-3" style="color: white;"> {% trans 'Questions relating to the assessment of cardiovascular disease risk' %}</h4>
                </div>

                <div class="row">

                    <div class="form-group col-sm-4">
                        {{ form.smoking|as_crispy_field }}
                    </div>


                    <div class="form-group col-sm-4">
                        {{ form.diabets|as_crispy_field }}
                    </div>


                    <div class="form-group col-sm-4">
                        {{ form.ethnicity|as_crispy_field }}
                    </div>
                </div>

                <!-- YES NO -->
                    <div class="row">
                        <div class="col-md col-sm-12">
                            <div>{{ form.angina_or_heart_attack|as_crispy_field }}</div>
                            <hr class="survey-separator">
                            <div>{{ form.pressure_treatment|as_crispy_field }}</div>
                            <hr class="survey-separator">
                            <div>{{ form.rheumatoid_arthritis|as_crispy_field }}</div>
                        </div>
                        <div class="vl"></div>
                        <div class="col-md col-sm-12">
                            <div>{{ form.kidney_disease|as_crispy_field }}</div>
                            <hr class="survey-separator">
                            <div>{{ form.atrial_fibrillation|as_crispy_field }}</div>
                            <hr class="survey-separator">
                            <div id="female-only-survey">{{ form.menopause|as_crispy_field }}</div>
                        </div>
                    </div>

                <div class="form-group">
                    <small>*{% trans 'Required fields' %}</small>
                </div>
                <button type="submit" class="btn btn-block submitButton">{% trans 'Register' %}</button>
            </form>
            <br>

        </div>
    </div>
    <!-- register end-->




{% endblock content %}