{% extends 'global/base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
    Register
{% endblock title %}



{% block content %}
   
    <!-- register form start-->

    <div class="container">

{% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message | safe}}</li>
                    {% endfor %}
                </ul>
            {% endif %}




        <h2 class="text-center">{% trans 'Registration' %}</h2>
        {% if form.non_field_errors %}
        <div class="alert alert-danger text-center" role="alert">
            {% for error in form.non_field_errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="col-md-12 offset">
            <form class="form-horizontal" role="form" method="post">
                            {% csrf_token %}

                <div class="row mt-3">
                    <div class="form-group col-sm-4">
                        <div class="col-sm-10">
                            {{ form.name|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.surname|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.birthdate|as_crispy_field }}
                    </div>
                </div>
                
                <hr>
                <div class="alert alert-info col-md-8 offset-md-2 text-center" role="alert">
                    {% trans 'Please full fill at least one below(E-mail, ID, Phone)' %}
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.phone|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.passport|as_crispy_field }}
                    </div>
                </div>
                   <hr>
                
                
                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.password|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.confirm_password|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.language|as_crispy_field }}
                    </div>
                </div>

                <hr>
                <div class="row">
                    
                    <div class="form-group col-sm-4">
                        {{ form.gender|as_crispy_field }}
                    </div>
               
                
                
                    <div class="form-group col-sm-4">
                        {{ form.height|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                        {{ form.blood_group|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-4">
                        {{ form.country|as_crispy_field }}
                    </div>
                    <div class="form-group col-sm-4">
                       {{ form.city|as_crispy_field }}
                    </div>


                     <div class="form-group col-sm-4">
                        {{ form.physical_activity|as_crispy_field }}
                    </div>
                </div>


                <hr>
                <div class="alert alert-info col-md-8 offset-md-2 text-center" role="alert">
                    {% trans 'Questions relating to the assessment of cardiovascular disease risk' %}
                </div>

                <div class="row">
                    
                    <div class="form-group col-sm-4">
                        {{ form.smoking|as_crispy_field }}
                    </div>
               
                
                
                    <div class="form-group col-sm-4">
                        {{ form.diabets|as_crispy_field }}
                    </div>


                    <div class="form-group col-sm-4">
                        {{ form.ethnicity|as_crispy_field }}
                    </div>
                </div>

                <div class="row survey">
                    <div class="col-md-6 col-sm-12 offset-md-3 mb-3">
                        <hr class="survey-separator">
                        <div class="row">
                            {{ form.angina_or_heart_attack|as_crispy_field }}
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 offset-md-3 mb-3" id="female-only-survey">
                        <hr class="survey-separator">
                        <div class="row">
                            {{ form.menopause|as_crispy_field }}
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 offset-md-3 mb-3">
                        <hr class="survey-separator">
                        <div class="row">
                            {{ form.kidney_disease|as_crispy_field }}
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 offset-md-3 mb-3">
                        <hr class="survey-separator">
                        <div class="row">
                            {{ form.atrial_fibrillation|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 offset-md-3 mb-3">
                        <hr class="survey-separator">
                        <div class="row">
                            {{ form.pressure_treatment|as_crispy_field }}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 offset-md-3 mb-3">
                        <hr class="survey-separator">
                        <div class="row">
                            {{ form.rheumatoid_arthritis|as_crispy_field }}
                        </div>
                        <hr class="survey-separator">
                    </div>
                </div>              
                
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <small>*{% trans 'Required fields' %}</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">{% trans 'Register' %}</button>
            </form> <br>

        </div>
    </div>
    <!-- register end-->

{% endblock content %}