 {% extends 'global/base.html' %}
{% load i18n static %}

{% block title %}
    HealthiStory
{% endblock title %}
{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock script %}

{% block content%}

    <!-- COntent start-->
    <div class="our-missions section-padding30 mt-4">
        <div class="container">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li class="alert alert-info text-center">{{ message | safe}}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="block">
                <div class="row justify-content-sm-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <h2 class="line-title" style="font-size: 2.5em;">{% trans 'Our Missions' %}</h2>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class=" col-lg-3 col-md-6 col-sm-6">
                        <div class="single-missions text-center mb-30" id="green">
                            <div class="missions-ion">
                                <span>
                                    <i class="fas fa-running" id="greeni"></i>
                                </span>
                            </div>
                            <div class="missions-cap">
                                <p>{% trans 'Train people to a healthy lifestyle.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6">
                        <div class="single-missions text-center mb-30" id="blue">
                            <div class="missions-ion">
                                <span>
                                    <i class="fas fa-band-aid" id="bluei"></i>
                                </span>
                            </div>
                            <div class="missions-cap">
                                <p>{% trans 'Self-manage own health and daily lifestyle.' %}</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 col-sm-6">
                        <div class="single-missions text-center mb-30 " id="purple">
                            <div class="missions-ion">
                                <span>
                                    <i class="fas fa-first-aid" id="purplei"></i>
                                </span>
                            </div>
                            <div class="missions-cap">
                                <p>{% trans 'Help people to extend healthy life expectancy.' %}</p>
                            </div>
                        </div>
                    </div>

                    <div class=" col-lg-3 col-md-6 col-sm-6">
                        <div class="single-missions text-center mb-30" id="orange">
                            <div class="missions-ion">
                                <span>
                                    <i class="fas fa-user-nurse" id="orangei"></i>
                                </span>
                            </div>
                            <div class="missions-cap">
                                <p>{% trans 'To help doctors to provide independent remote medical assistance.' %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <!--content end 1-->

    <!--content 2-->
    <div class="container">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="content-heading">
                            <h3 class="text-center">{% trans 'General Health Issues' %}</h3>
                            <img class="img-right" src="https://www.myhealthistory.com/media/new/image/health.png" />
                        </div>
                        <p class="ghi"><br> <br> {% trans "According to modern medical science, approximately 25% of an individual’s overall health depends from genetics and 75% on the individual; therefore, the long-term health should be managed accurately and precisely." %} <br> <br>
                            
                            
                            {% trans "The only way to manage long-term health is to know what is happening within one’s body and how things change over time. For that reason, frequent health checkups are a must for everyone." %} <br> <br>
                            
                            
                            {% trans "In order to do this, hospital visits are crucial. However, these visits cost too much time, money and are not convenient for people due to these reasons. Moreover, often times these results are received within several days on paper, which is not functional, eco-friendly and is slow." %}</p>

                    </div>
                </div>
            </div>
            <br />
        </div>
        <hr>
    </div>

    <!-- content end 2-->

    <!-- WHo are we -->
    <div class="container" style="background-color: #00b3e3;">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="span4 ">
                        <div class="content-heading">
                            <h1 class="text-center mt-3" style="color: white;">{% trans 'What is HealthiStory?' %}</h1>
                        </div>
                        <div class="col-md-10 offset-md-1 mt-3">
                            <i><p class="hs">{% trans "HealthiStory is a health and wellness focused company that performs health checkups outside the hospitals, eliminates all expensive and administrative costs, brings the service to the end-user location, and makes health checkups easily accessible and affordable for everyone." %} </p></i>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <hr>
    </div>

    <!-- cend-->


    <!-- content 3 -->
    <h1 class="text-center mt-2">{% trans 'Why us?' %}</h1>
    <div class="container">
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="span4 mt-4">
                        <h5 style="color: blue;">
                            {% trans 'For B2C:' %}
                        </h5>
                        <p class="text-left" style="font-size: larger;">
                            {% trans "You can order your health checkup to your home or office, just like ordering a taxi. Our nearest trained partner with a Mobile Medi-Lab on a backpack comes to you at your time. The checkup takes less than 10 minutes and the results are stored immediately in a secure cloud and are accessible to you through any devices. You can always track your progress, get smart recommendations and receive a notification to visit a doctor, if there are any critical results." %}
                        </p> <br>
                        <h5 class="text-left" style="color: darkgreen;">
                            {% trans 'For partners (a person who administers mobile health checkups):' %}
                        </h5>
                        <p class="text-left " style="font-size: larger;">
                            {% trans "HealthiStory is a profitable business opportunity, which provides steady work, flexible work hours, and good quality of life (no medical training required)." %}
                        </p><br>
                        <h5 class="text-left" style="color: darkmagenta;">
                            {% trans 'For employers:' %}
                        </h5>
                        <p class="text-left" style="font-size: larger;">
                            {% trans 'HealthiStory makes workforces healthy, happy and productive.' %} 
                        </p><br>
                        <h5 class="text-left" style="color: darkorange;">
                            {% trans 'For insurance providers:' %}
                        </h5>
                        <p class="text-left" style="font-size: larger;">
                            {% trans 'HealthiStory is a new type of policy benefit that makes healthy, loyal and lower risk policy holders. ' %}
                        </p><br>
                        <h5 class="text-left" style="color: darkred;">
                            {% trans 'For governments:' %}
                        </h5>
                        <p class="text-left" style="font-size: larger;">
                            {% trans 'HealthiStory creates healthy and productive societies with lower long-term healthcare costs.' %} 
                        </p>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <hr>
    </div>
    <div class="container" id="content3">
        <br>
        <div class="btn-group mr-12 col-md-12" role="group" aria-label="Basic example">

            <button type="button" class="btn btn-success btn-lg" id="user-more">
                {% trans 'User Benefits' %}
            </button>
            <button type="button" class="btn btn-primary btn-lg" id="doc-more">
                {% trans 'Doctor Benefits' %}
            </button>
        </div>

        <!-- <<<< start user_benefits   -->
        <div class="box" id="user-benefit-data">
            <div class="container">
                <h5 class="text-center intro-benefit" style="font-size: x-large;">
                    {% trans 'Turn your health history into a healthy story.' %}
                </h5>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <div class="title">
                                <h4>{% trans 'Observe health trend' %}</h4>
                            </div>
                            <div class="text">
                                <span>
                                    {% trans "By accessing the Portal, the user may graphically observe the latest and previous health data trends, get recommendations on health parameters to be considered and get notification to visit a doctor for critical values." %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <div class="title">
                                <h4>{% trans 'Monitoring effectiveness of the treatment' %}</h4>
                            </div>

                            <div class="text">
                                <span>{% trans "User, who gets a treatment within the framework of the system parameters, can perform regular measurements and graphical monitor the impact of the treatment." %}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <div class="title">
                                <h4>{% trans 'Extend healthy life expectancy' %} </h4>
                            </div>

                            <div class="text">
                                <span>{% trans "By obtaining detailed information about healthy lifestyle from the portal and taking early action against any warnings, user may extend own Healthy Lifetime." %}</span>
                            </div>
                        </div>

                    </div>
                    <i><p class="text-center" style="font-size: x-large;">{% trans "Your data is stored using the latest banking-grade encryption technologies and is available only to you and your chosen doctor. We are GDPR compliant and do not have access to any personal data." %}</p></i>
                </div>
            </div>
        </div>
        <!-- end user_benefits -->
        <!--  start doctor_benefits   -->
        <div class="box" id="doc-benefit-data">
            <div class="container">
                <h5 class="text-center" class="intro-benefit">{% trans 'Treat own patients anywhere, anytime.' %}</h5>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <div class="title">
                                <h4>{% trans 'Remote health care' %}</h4>
                            </div>

                            <div class="text">
                                <span>{% trans "Remote access to electronic personal health records helps doctors to accelerate diagnosis and treatment, provide highest levels of remote health care, reduce inefficiencies, administrative costs and ultimately offering better, faster care." %}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center">
                            <div class="title">
                                <h4>{% trans 'Effectiveness' %}</h4>
                            </div>

                            <div class="text">
                                <span>
                                    {% trans "Increase the number of patients who can be treated during a given period of time and effectiveness of treatment." %}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                        <div class="box-part text-center">

                            <div class="title">
                                <h4>{% trans 'New streams of revenue' %}</h4>
                            </div>

                            <div class="text">
                                <span>{% trans "Provide new streams of revenue in the form of virtual consultations and assessments." %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end doctor_benefits  -->
    </div><br>
    <!-- content 3 end -->


    {% endblock content%}
