{% extends 'global/base.html' %}

{% load static %}
{% load i18n %}


{% block title %}
    Products
{% endblock title %}



{% block content%}
    <!-- block PRODUCTS-->
    <div class="container mt-2 products">
        <h1 class="text-center">{% trans 'Products' %}</h1>
        <div class="row">

            <div class="col-md-2 store-menu">
                <ul class="category-nav">
                    {% for category in categories %}
                    <li><a href="{% url 'categorized' category.category_code %}"><i class="fa fa-angle-right"></i>{{ category }} </a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-10">
                <div class="row">
                    {% for product in products %}

                    <div class="col-md-4 col-sm-5 product mt-3">
                        <div class="card product-card card-block product">
                            <a href="{% url 'single_product' product.product_code %}"><img src="{% get_static_prefix %}{{product.img}} " alt="Photo of product" class="product"></a>
                            <h5 class="product-card-title mt-3 mb-3 text-center">{{ product.title }}</h5>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

        </div>
    </div><br>

    <!-- endblock PRODUCTS-->

    {% endblock content%}